<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AHFM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8FB769AC1ED47DC4004BF989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FB769C31ED47DC4004BF989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FB769CE1ED47DC4004BF989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
